#footer {
    background-color: #333333;
    width: 100%;
    padding: 100px 0;
    .content{
        width: 90%;
        margin: auto;
        .boxes {
            .first{
                img {
                    padding-bottom: 30px;
                }
                .footer-social{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    a{
                        text-decoration: none;
                        padding: 15px;
                        border: 1px solid gray;
                        border-radius: 100px;
                        margin: 0;
                        i {
                            color: gray;
                            padding: 5px;
                        }
                    }
                }
            }
        }
        
    }
}